extends layout

block content
  .modal-dialog
      .modal-content
        // Modal Header
        .modal-header
          h4#myModalLabel.modal-title
            | Submit Python
        // Modal Body
        .modal-body          
          form(role='form' method='POST' action='/random/python')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='name' name='name')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email')
            div.form-group 
              label(for='code') Code:
              textarea#code.form-control(placeholder='code' name='code' rows='10' cols='50')
            button.btn.btn-primary(type="submit", name="asdf" id="asdf"  onclick="event.target.disabled = true; document.forms[0].submit()") Submit Codes

