doctype html
head
  meta(charset='utf-8')
  title Python Code for Christmas Lights
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  body
    div.p last updated: #{number}
    div.p return code: #{fileRetCode}
    block content
